.wrapper
    padding: 56px 0
    display: flex
    flex-wrap: wrap
    width: 100%
    .topInfo,
    .bottomInfo
        width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    .topInfo
        .codeSection
            
            display: flex
            justify-content: flex-start
            width: 50%
            .info
                margin-left: 24px
    .bottomInfo
        margin-top: 60px

.mapSection,
    width: 50%
.quotesSection,
.expSection,
    display: flex
    flex-wrap: wrap
    width: 45%

.mapSection,
.quotesSection,
.expSection,
    justify-content: space-between

@media screen and ( max-width: 1096px )
    .wrapper
        flex-direction: column
        

