.wrapper
    padding: 56px 0
    display: flex
    flex-wrap: wrap
    width: 100%
    .topInfo,
    .bottomInfo
        width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    .topInfo
        .expSection,
        .codeSection
            display: flex
            flex-wrap: wrap
            width: 50%
        .codeSection
            justify-content: flex-start
    .bottomInfo
        .mapSection
            width: 50%