.location
    font:
        family: Roboto
        style: normal
        weight: normal
        size: 16px
    line-height: 24px



.textInput
    background: rgba(0, 0, 0, 0)
    border: none
    outline: none
    width: 100%
    &:focus
        background: rgba(0, 0, 0, 0.06)
        border-bottom: 1px solid #EB5757
    &::after
        