.location
    font:
        family: Roboto
        style: normal
        weight: normal
        size: 16px
    line-height: 24px
    width: 100%
    min-width: 360px


.wrapper
    display: flex
    margin-top: 8px
    width: 100%
    span
        width: 100%

