.wrapper
    display: flex
    flex-direction: column
    .name
        font-family: Roboto
        font-size: 40px
        line-height: 48px
        font-weight: 500
    .language
        display: flex
        align-items: center