.wrapper
    min-width: 224px
    min-height: 120px
    word-break: break-all
    pre
        word-break: break-all
        font-family: Roboto Mono
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
    .code
        background: rgba(179,186,192, 0.2)
        padding: 8px 16px 16px 8px
        border-radius: 8px 
